@page "/newsession"
@inject NavigationManager NavManager
@inject GameService GameService
@inject AppState AppState

<h3>Create a new session</h3>
<Alert />
<EditForm Model="GameModel" OnValidSubmit="CreateNewGame">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="form-row">
        <div class="form-group col-md-6">
            <InputText id="GameID" @bind-Value="GameModel.GameID" class="form-control" placeholder="Session Name" />
        </div>
        <div class="form-group col-md-6">
            <InputText type="password" id="Password" @bind-Value="GameModel.Password" class="form-control" placeholder="Password" />
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
</EditForm>
@code {
    public Game GameModel { get; set; } = new Game();

    protected override void OnInitialized()
    {
        AppState.ClearException();
    }

    public async Task CreateNewGame()
    {

        try
        {
            GameModel = await GameService.NewGame(GameModel.GameID, GameModel.Password);
            NavManager.NavigateTo($"/session/{GameModel.GameID}");
        }
        catch (Exception ex)
        {
            AppState.ExceptionAlert("Error", ex.Message, true);
        }
    }

}
