@using GameOfStuff.Services
@inject AppState AppState
@implements IDisposable
<div class="alert alert-warning alert-dismissible fade @(AppState.ExceptionShow ? "show" : "")" style="display: @(AppState.ExceptionShow ? "block" : "none")" role="alert">
    @AppState.ExceptionBody
    <button type="button" class="close" data-dismiss="alert" aria-label="Close" @onclick="@(() => Close())">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
@code {

    protected override void OnInitialized()
    {
        AppState.OnExceptionChange += StateHasChanged;
    }

    public void Dispose()
    {
        AppState.OnExceptionChange -= StateHasChanged;
    }

    private void Close()
    {
        AppState.ClearException();
    }
}
